.jumbotron {
	background-color: blue;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 5px;
	margin-top: 80px;
	text-align: center;
}

.center {
	text-align: center;
	border: 2px !important;
}