/*animated background css*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

body 	{
	background-image: url("/images/bkgrnd-gray.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 60s linear infinite;
}
/*end animated background css*/

.jumbotron {
	background-color: rgba(0,0,0,0.4);   /*rgba color for transparent jumbotron*/
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 5px;
	margin-top: 80px;
	text-align: center;
	color: white;
	font-family: 'Yellowtail', cursive;
}

.center {
	text-align: center;
	border: 2px !important;
}

.pic {
	border-radius: 5px;
}

.devInfo {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

/*Dropdown list items styling*/
.cat-drop {
	margin-left: 5px;
	font-size: 16px;
}

/*Top 3 Posts box styling*/
.post-row {
	display: flex;
	justify-content: space-around;
}

.post-blocks {
	background-color: lightgray;
	margin: 0 10px 0 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#live {
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	color: white;
	font-size: 50px;
}

#postcursive {
	font-family: 'Yellowtail', cursive;
	text-align: center;
	color: black;
	font-size: 50px;
}


#meetthe {
	margin-top: 40px;
	margin-bottom: 25px;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	color: white;
	font-size: 50px;
}

footer {
	color: white;
	background-color: #242424;
	height: 80px;
	margin-top: 70px;
	font-family: 'Yellowtail', cursive;
	font-size: 20px;
}

.navbar {
	font-family: 'Yellowtail', cursive;
}


#meetthe {
	margin-top: 40px;
	margin-bottom: 25px;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	color: white;
	font-size: 50px;
}


#post-table {
	margin-top: 100px;
	border-style: solid;
  border-width: 3px 3px 3px 3px;
	border-color: #242424;

}

#post-body {
	text-align: center;
}
